%ul.scrollbox
  - @definitions.each do |definition|
    - name = definition.name
    - enabled = definition.default_enabled
    %li.d-flex.center.row.nowrap(x-show="$el.textContent.includes(query) || query == ''")
      %label.toggle(x-data="toggle('#{name}', #{enabled}, '#{features_url}')")
        %input(type="checkbox" x-bind="input" x-model="checked"){checked: enabled}
        %span.handle.round(:title="checked ? 'Enabled by default. Click to disable.' : 'Disabled by default. Click to enable.'")
      %code.grow= name
