.card {
  background-color: hsl(
    var(--hue-primary),
    var(--saturation-bg),
    var(--lightness-bg1)
  );
  box-shadow: 0 10px 16px var(--color-shadow);
  border-radius: 5px;
  padding: 1rem;
  max-width: 100%;
}
