.scrollbox {
  max-height: 20ch;
  overflow: auto;
  padding: 1rem 0;
  word-break: break-all;

  background-color: hsl(
    var(--hue-primary),
    var(--saturation-bg),
    var(--lightness-bg2)
  );
  border: 2px solid
    hsl(var(--hue-primary), var(--saturation-bg), var(--lightness-bg1));

  border-style: ridge;

  box-shadow: 0 5px 10px var(--color-shadow);

  li {
    padding: 0 1rem;

    &:hover {
      background-color: hsl(var(--hue-primary), 60%, var(--lightness-bg1));
    }
  }
}
