.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 4px;
  flex-shrink: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.2s;
    }

    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }

  input:checked + .handle {
    background-color: var(--color-primary);
  }

  input:focus + .handle {
    outline: 4px solid var(--color-primary);
  }

  input:checked + .handle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:disabled + .handle:before {
    background-color: #ddd;
    content: "N/A";
    text-align: center;
    color: white;
    font-size: x-small;
    line-height: 26px;
  }

  input:disabled + .handle {
    cursor: not-allowed;
  }
}
