%dialog(x-ref="dialog" x-data="{enable: #{@definition.present?}, feature: '#{@definition&.name}', isAlreadyEnabled: #{@definition && @features.select {|f| f.state == :enabled }.map(&:name).include?(@definition.name) || false}}" x-init="if(enable) $refs.dialog.showModal()")
  .card{"x-on:click.outside": "$refs.dialog.close()"}
    %header
      %h2
        %label.toggle(x-data="toggle(feature, isAlreadyEnabled, '#{features_url}')")
          %input(type="checkbox" x-bind="input" x-model="checked")
          %span.handle.round

        %code(x-text="feature")
    %template(x-if="isAlreadyEnabled")
      %main
        %p
          This feature is already enabled.
          Click the toggle to disable it.
    %template(x-if="!isAlreadyEnabled")
      %main
        %p
          Click the toggle to enable this feature.
