- if feature.state == :unknown
  %label.toggle(title="This feature does not exist on the current branch.")
    %input(type="checkbox" disabled){name: feature.name}
    %span.handle.round
- else
  %label.toggle(x-data="toggle('#{feature.name}', #{feature.state == :enabled})")
    %input(type="checkbox" x-bind="input" x-model="checked"){checked: feature.state == :enabled, name: feature.name}
    %span.handle.round(:title="checked ? 'Enabled. Click to disable.' : 'Disabled. Click to enable.'")
