.sticky-search
  .d-flex.col{
    "x-data": "{query: '', show: false}",
    "@click.outside": "show = false",
    "@keyup.esc": "show = false"}
    %input.large.w-100#search{
      "type": "search",
      "placeholder": "Search and toggle feature flags",
      "x-model.debounce.400ms": "query",
      "x-ref": "search",
      "x-on:input": "show = true",
      "x-on:focus": "show = true"}
    %template(x-if="show")
      .d-flex.col.stretch{
        "x-anchor.bottom-start.offset.5" => "$refs.search",
        "x-transition": nil}
        .grow{
          "data-url": definitions_path,
          "x-data": "{}",
          "x-init": "$el.innerHTML = await (await fetch($el.dataset.url)).text()"}

.card
  %h3 My feature flags
  %small These features already use custom settings in this GDK.

  %ul(x-data="features('#{features_url}')")
    %template(x-for="feature in features" :key="feature.name")
      %li.feature-toggle(x-data="{ showMore: false }"){"@click.outside": "showMore = false"}
        .d-flex.row.nowrap
          %template(x-if="feature.state === 'unknown'")
            %label.toggle(title="This feature does not exist on the current branch.")
              %input(type="checkbox" disabled :name="feature.name")
              %span.handle.round
          %template(x-if="feature.state !== 'unknown'")
            %label.toggle
              %input(type="checkbox" x-on:change="toggleFeature(feature)" :checked="feature.state === 'enabled'" :name="feature.name")
              %span.handle.round

          %code.grow.ellipsis(x-text="feature.name")

          %button(title="Show more" x-on:click="showMore = !showMore")
            %svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              %circle(cx="12" cy="12" r="1")
              %circle(cx="12" cy="5" r="1")
              %circle(cx="12" cy="19" r="1")

          %button(title="Forget this setting and use default" x-on:click="deleteFeature(feature.name)")
            %svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              %line(x1="18" y1="6" x2="6" y2="18")
              %line(x1="6" y1="6" x2="18" y2="18")

        .d-flex.col.more-info{ "x-show": "showMore" }
          .metadata
            %strong Milestone
            %span(x-text="feature.definition.milestone || '-'")
            %strong Introduced by
            %a(x-show="feature.definition.introduced_by_url"
              x-text="`!${feature.definition.introduced_by_url?.split('/').at(-1)}`"
              :href="feature.definition.introduced_by_url"
              target="_blank")
            %span(x-show="!feature.definition.introduced_by_url") -
            %strong Rollout issue
            %a(x-show="feature.definition.rollout_issue_url"
              x-text="`#${feature.definition.rollout_issue_url?.split('/').at(-1)}`"
              :href="feature.definition.rollout_issue_url"
              target="_blank")
            %span(x-show="!feature.definition.rollout_issue_url") -

          %hr
          %small Share this URL with MR reviewers.
          .d-flex.row
            %input.grow(x-ref="copyText" :value="`${indexUrl}${feature.name}`" type="text" readonly="readonly")
            %button(x-on:click="$refs.copyText.select(); document.execCommand('copy');") Copy
    %p(x-show="!features.length") No active feature flags in this GDK yet.

= render "dialog"
