!!!
%html{ class: ("light-mode" if request.cookies["toogle-dark"] == "false") }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Feature flags
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "toogle/application", media: "all"
    = javascript_include_tag 'toogle/application'
    %script(defer src="https://cdn.jsdelivr.net/npm/@alpinejs/anchor@3.x.x/dist/cdn.min.js")
    %script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")

  %body
    %header
      %nav.d-flex.gap
        = link_to main_app.root_path do
          = render partial: "shared/logo", formats: :svg

      %button(x-data="darkModeSwitcher" x-bind="button")
        %svg(x-show="isDark" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          -# 🔆
          %circle(cx="12" cy="12" r="5")
          %line(x1="12" y1="1" x2="12" y2="3")
          %line(x1="12" y1="21" x2="12" y2="23")
          %line(x1="4.22" y1="4.22" x2="5.64" y2="5.64")
          %line(x1="18.36" y1="18.36" x2="19.78" y2="19.78")
          %line(x1="1" y1="12" x2="3" y2="12")
          %line(x1="21" y1="12" x2="23" y2="12")
          %line(x1="4.22" y1="19.78" x2="5.64" y2="18.36")
          %line(x1="18.36" y1="5.64" x2="19.78" y2="4.22")
        %svg(x-show="!isDark" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          -# 🌙
          %path(d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z")

    %main.with-sticky-search
      = yield
      - if notice.present?
        #notice.d-flex.row.center.gap
          %svg(width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            %circle(cx="12" cy="12" r="10")
            %line(x1="12" y1="16" x2="12" y2="12")
            %line(x1="12" y1="8" x2="12.01" y2="8")
          %span.grow= notice

    %footer
      %a(href="https://gitlab.com/thutterer/toogle" target="_blank")
        = Toogle::VERSION
