@import "variables";

@import "elements";
@import "layout";
@import "utilities";

@import "components/card";
@import "components/scrollbox";
@import "components/toggle";

[x-cloak] {
  display: none !important;
}

#notice {
  background-color: #fc6d26;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
