* {
  box-sizing: border-box;
}

html {
  color: var(--color-text);
  transition: 0.2s;
  background-color: var(--color-page-bg);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  > header {
    position: sticky;
    top: 0;
    transition: 0.2s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  transition: outline 0.2s;

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

footer a {
  color: var(--color-text);
}

input[type="submit"]:not(.small) {
  font-size: large;
  padding: 0.25rem;
}

input[type="search"],
input[type="text"] {
  margin: 0.25rem 0;
  padding: 0.75rem;
  font-family: monospace;
  border-radius: 0.5rem;

  &:not(:read-only):focus {
    outline: 2px solid var(--color-primary);
  }

  &:read-only:focus {
    outline: none;
  }

  &.large {
    font-size: large;
  }
}

input[type="search"],
input[type="text"] {
  color: hsl(var(--hue-primary), var(--saturation-bg), var(--lightness-fg));
  background-color: hsl(
    var(--hue-primary),
    var(--saturation-bg),
    var(--lightness-bg2)
  );
  border: none;
  box-shadow: inset 1px 1px 2px var(--color-shadow);
}

hr {
  margin: 1.5rem 0;
}

code {
  font-size: 1.25em;
}

button {
  color: var(--color-text);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0.125rem;
  padding: 0.5rem;
  min-width: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: large;

  &:hover,
  &:focus {
    background-color: var(--color-primary);
    color: white;
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    opacity: 1 !important;
  }
}

ul {
  margin: 0;
  padding: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  li {
    list-style-type: none;
  }
}

dialog {
  background-color: transparent;
  color: var(--color-text);
  border: none;
  outline: none;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  > .card {
    margin: 0;
  }
}
