body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    a,
    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 0 1rem;
    flex-grow: 1;

    &.with-sticky-search {
      margin-top: 4rem;

      .sticky-search {
        align-self: center;
        position: sticky;
        width: min(100%, 80ch);
        top: 0;
        background-image: linear-gradient(
          var(--color-page-bg) 90%,
          transparent 100%
        );
        padding-bottom: 0.5rem;
        z-index: 2;
      }
    }
  }

  > footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2em;
    padding: 1rem;
    font-size: smaller;
  }
}

li.feature-toggle {
  display: flex;
  flex-direction: column;
  padding: 0.125rem;
  border-radius: 2px;

  .row {
    align-items: center;
    flex-grow: 1;

    button {
      opacity: 0;
      transition: 0.2s;
    }
  }

  > .col {
    padding: 0.5rem;
  }

  .more-info {
    padding-left: 68px; /* toggle width */
  }

  .metadata {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
  }

  &:hover {
    background-color: rgba(153, 153, 153, 0.1);

    button {
      opacity: 1;
    }
  }
}
