.d-flex {
  display: flex;
  flex-wrap: wrap;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }
}

.grow {
  flex-grow: 1;
}

.stretch {
  align-self: stretch;
}

.gap {
  gap: 1em;
}

.w-100 {
  width: 100%;
}

.ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
