html {
  --hue-primary: 35;
  --saturation-bg: 5%;
  --lightness-bg0: 80%;
  --lightness-bg1: 88%;
  --lightness-bg2: 96%;
  --lightness-fg: 10%;
  --lightness-shadow: 50%;

  --color-primary: hsl(var(--hue-primary), 90%, 50%);
  --color-text: hsl(var(--hue-primary), 0%, var(--lightness-fg));
  --color-shadow: hsl(0, var(--saturation-bg), var(--lightness-shadow));
  --color-page-bg: hsl(
    var(--hue-primary),
    var(--saturation-bg),
    var(--lightness-bg0)
  );
}

@media (prefers-color-scheme: dark) {
  html:not(.light-mode) {
    --lightness-bg0: 8%;
    --lightness-bg1: 16%;
    --lightness-bg2: 24%;
    --lightness-fg: 90%;
    --lightness-shadow: 4%;
  }
}
